.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  place-items: center;
  z-index: 999;
}

.modal.closed {
  display: none;
}

.modal.open {
  display: grid;
}

.modal_content {
  width: 50%;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  position: relative;
}

.modal_close {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 4px;
  cursor: pointer;
}
